<div class="blank-layout-container justify-content-center align-items-center bg-light">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/dark-logo.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <div class="or-border m-t-30">Ingresa tus datos</div>

          <form class="m-t-30" [formGroup]="formResgisration">
            <!--CEDULA-->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Cédula</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="identification" maxlength="10" placeholder="00000000000" required
                (blur)="personExist()" />
              <mat-hint align="end">{{ formResgisration.get('identification')?.value?.length || 0 }} / 10</mat-hint>
              <small
                *ngIf="formResgisration.get('identification')?.hasError('required') && formResgisration.get('identification')?.touched"
                style="color: red;">
                Campo obligatorio.
              </small>
            </mat-form-field>

            <div class="row">
              <!--NOMBRES-->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Nombres</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="text" formControlName="names" placeholder="Nombres" required="true" />
                  <small
                    *ngIf="formResgisration.get('names')?.hasError('required') && formResgisration.get('names')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
              <!--APELLIDOS-->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Apellidos</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="lastnames" placeholder="Apellidos" required="true" />
                  <small
                    *ngIf="formResgisration.get('lastnames')?.hasError('required') && formResgisration.get('lastnames')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--TELEFONO-->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Teléfono</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="landlinePhone" maxlength="10" placeholder="000000000000" />
                </mat-form-field>
              </div>
              <!--CELULAR-->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Celular</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="mobilePhone" maxlength="10" placeholder="0900000000"
                    required="true" />
                  <small
                    *ngIf="formResgisration.get('mobilePhone')?.hasError('required') && formResgisration.get('mobilePhone')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <!--DIRECCION-->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Dirección</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="tel" formControlName="address" placeholder="Dirección" required="true" />
                  <small
                    *ngIf="formResgisration.get('address')?.hasError('required') && formResgisration.get('address')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
              <!--FECHA DE NACIMEINTO-->
              <div class="col-12 col-md-6">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Fecha de nacimiento</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput [matDatepicker]="pickerbirthDate" formControlName="birthDate"
                    placeholder="ejm: 01/01/1999" />
                  <mat-datepicker-toggle matSuffix [for]="pickerbirthDate"></mat-datepicker-toggle>
                  <mat-datepicker #pickerbirthDate></mat-datepicker>
                  <small
                    *ngIf="formResgisration.get('birthDate')?.hasError('required') && formResgisration.get('birthDate')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
            </div>

            <!--EMAIL-->
            <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Correo electrónico</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="email" type="email" placeholder="ejemplo@gmail.com" required="false" />
              <small
                *ngIf="formResgisration.get('email')?.hasError('required') && formResgisration.get('email')?.touched"
                style="color: red;">
                Campo obligatorio.
              </small>
            </mat-form-field>

            <div class="row">
              <!-- USUARIO -->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Usuario</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput formControlName="uname" placeholder="username" required="true" />
                  <small *ngIf="formResgisration.get('uname')?.hasError('required') && formResgisration.get('uname')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
              <!-- CONTRASEÑA -->
              <div class="col-12 col-md-6">
                <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Contraseña</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <input matInput type="password" formControlName="password" placeholder="Contraseña" required="true" />
                  <small *ngIf="formResgisration.get('password')?.hasError('required') && formResgisration.get('password')?.touched"
                    style="color: red;">
                    Campo obligatorio.
                  </small>
                </mat-form-field>
              </div>
            </div>
            <a mat-flat-button color="primary" (click)="registration()" class="w-100">
              Registrarse
            </a>
          </form>
          <span class="d-block f-w-500 text-center m-t-24">Ya tienes una cuenta?

            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
              Iniciar Sesión</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>